/*----------------------------------------------------------------
Callout Infobox
----------------------------------------------------------------*/
.callout[data-callout^=infobox] {
    margin: 0;
    background: none;
    text-align: center;
    box-shadow: none;
    position: relative;
}

.callout[data-callout^=infobox] .callout-content {
    padding: 0 var(--size-4-3) var(--size-4-1) var(--size-4-5) !important;
    border: 0 !important;
}


/* callout-title-inner  */
.callout[data-callout^=infobox] :is(.callout-icon, .callout-title) {
    display: none;
}

.callout[data-callout=infobox-r] {
    float: right;
    clear: right;
}

.callout[data-callout=infobox],
.callout[data-callout=infobox-l] {
    float: left;
    clear: left;
}

body:not(.is-phone) .markdown-preview-view .callout[data-callout=infobox-r] {
    right: -8px;
    padding: 12px;
}

body:not(.is-phone) .markdown-preview-view :is(.callout[data-callout=infobox], .callout[data-callout=infobox-l]) {
    left: -8px;
    padding: 12px;
}


/* header*/
body:not(.is-phone) .callout[data-callout^=infobox] :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    scale: 0.6;
    margin-bottom: auto;
}

.is-phone .callout[data-callout^=infobox] :is(h1, h2, h3, h4, h5, h6) {
    padding-bottom: 0.5em;
    scale: 0.6;
    margin: 0;
}

.markdown-preview-view .callout[data-callout^=infobox] p {
    text-align: center;
    padding-bottom: 6px;
}


/* tables */
.callout[data-callout^=infobox] table {
    display: initial;
}

.callout[data-callout^=infobox] thead th {
    padding: 4px;
    font-weight: bold;
}

.markdown-source-view .callout[data-callout^=infobox] thead th,
.markdown-preview-view .callout[data-callout^=infobox] thead th {
    font-size: 16px;
}

.callout[data-callout^=infobox] .callout-content :is(tbody td>*, tbody td) {
    font-size: 14px;
}

.is-phone .callout[data-callout^=infobox] thead th {
    font-size: 14px;
}

.is-phone .callout[data-callout^=infobox] .callout-content tbody td {
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
}


/* no xy or bold in other tables */
.callout[data-callout^=infobox] tbody tr>td:first-child {
    background: revert !important;
    color: var(--text-normal);
}


/* img */
.callout[data-callout^=infobox] :is(.internal-embed, img) {
    opacity: 1;
    pointer-events: none;
    margin: auto;
    padding: 0;
    max-width: 140px;
}

.callout[data-callout^=infobox] :is(.internal-embed, img):hover {
    background: var(--button-background);
    color: var(--dark-tone);
}


.callout[data-callout^=infobox] .cm-embed-block.markdown-rendered.cm-callout {
    contain: paint;
}


/* phone */
.is-phone .callout[data-callout^=infobox] {
    width: 240px;
}

.is-phone .markdown-preview-view .callout[data-callout=infobox-r] {
    margin-left: -1em;
    right: -1.4em;
    padding: 8px;
}

.is-phone .markdown-preview-view :is(.callout[data-callout=infobox], .callout[data-callout=infobox-l]) {
    margin-right: -1em;
    left: -1.4em;
    padding: 8px;
}

/*----------------------------------------------------------------
framed
----------------------------------------------------------------*/

.callout[data-callout^="comment-r"]{
    float: right;
    position: absolute;
    right: 5px;
    max-width: 10%; /* Adjust width as needed */
    min-width: fit-content;
    margin: 0;
}


/* .callout[data-callout]:is([data-callout="framed"], [data-callout="framed-l"], [data-callout="framed-r"], [data-callout="framed-a"]) {
    background: transparent;
    border: 0;
    min-width: fit-content;
}

.callout[data-callout="framed"],
.callout[data-callout="framed-l"] {
    float: left;
    margin: 0;
    padding: 12px 12px 6px 0;
}

.callout[data-callout="framed-r"] {
    float: right;
    margin: 0;
    padding: 12px 0 6px 12px;
}

/* axial center */
.callout[data-callout="framed-a"] {
    text-align: center;
    margin: auto;
    padding: 0;
}

.callout[data-callout="framed-a"].callout-content p {
    width: fit-content;
}

div.cm-embed-block.cm-callout .markdown-rendered .callout[data-callout="framed-a"] {
    align-self: center;
    position: relative;
    display: contents;
}

div.cm-embed-block.cm-callout .markdown-rendered .callout[data-callout^="framed"]:is([data-callout-metadata~="bg"], [data-callout-metadata~="cite"]) .callout-content p {
    margin-top: 0;
}

.callout[data-callout]:is([data-callout~="framed"], [data-callout~="framed-l"], [data-callout~="framed-r"], [data-callout="framed-a"], [data-callout~="framed-lg"], [data-callout~="framed-rg"]) .callout-title {
    padding: 0;
    display: none;
}

.callout[data-callout="framed-lg"],
.callout[data-callout="framed-rg"] {
    background: transparent;
    position: absolute;
}

.callout[data-callout="framed-lg"] .callout-content p,
.callout[data-callout="framed-rg"] .callout-content p {
    font-size: small;
    text-align: justify;
    word-break: break-all;
    width: 300px;
}

.markdown-source-view.mod-cm6 .cm-embed-block div.callout:is([data-callout="framed-lg"]) {
    position: relative;
    left: 1px;
    width: 10vw;
}

.markdown-source-view.mod-cm6 .cm-embed-block div.callout:is([data-callout="framed-rg"]) {
    position: relative;
    left: 76%;
    width: 10vw;
}

/* left margin works but scrolling inside not */
.is-phone .callout[data-callout="framed-lg"] {
    position: inherit;
}

/* readable line width */
.callout[data-callout="framed-lg"] {
    padding-right: 2em;
    left: 10px;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
    margin-left: 19vw;
    margin-right: 19vw;
}

.callout[data-callout="framed-rg"] {
    padding-left: 2em;
    right: 10px;
}

.callout[data-callout="framed-rg"] .markdown-preview-section {
    right: -20em;
    padding-right: 6px;
}

.is-phone .callout[data-callout="framed-rg"] {
    left: 100vw;
    padding-right: 12px;
}

.callout[data-callout^="framed"]:is([data-callout-metadata~="bg"],
    [data-callout-metadata~="cite"]) {
    white-space: normal;
    min-width: var(--min-boxwidth);
    margin-top: 1em;
    margin-bottom: 1em;
}

.callout[data-callout^="framed"][data-callout-metadata~="bg"] {
    padding: 20px 20px 0;
}

.callout[data-callout^="framed"][data-callout-metadata~="cite"] {
    padding: 0 20px 0;
}

.callout[data-callout^="framed"][data-callout-metadata~="cite"] .callout-content p::before {
    content: "";
    background-image: var(--cite-icon);
    display: inline-block;
    left: -6px;
    position: relative;
    padding-right: 34px;
    padding-top: 2em;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}

.theme-light .callout[data-callout^="framed"]:is([data-callout-metadata~="bg"],
    [data-callout-metadata~="cite"]) {
    background-color: var(--dark-shadow-l);
}

.theme-dark .callout[data-callout^="framed"]:is([data-callout-metadata~="bg"],
    [data-callout-metadata~="cite"]) {
    background-color: #46484c;
}

.callout[data-callout="framed"]:is([data-callout-metadata~="bg"], [data-callout-metadata~="bg"], [data-callout-metadata~="cite"]) {
    margin-right: 2em;
    padding-left: 1em;
}

.callout[data-callout="framed-r"]:is([data-callout-metadata~="cite"],
    [data-callout-metadata~="bg"]) {
    margin-left: 2em;
    padding-right: 1em;
}

.callout[data-callout^="framed"]:is([data-callout-metadata~="cite"], [data-callout-metadata~="bg"]) .callout-content {
    padding-bottom: 1em;
    line-height: normal;
}

.callout[data-callout^="framed"]:is([data-callout-metadata~="pic"], [data-callout-metadata~="pic-l"]) .internal-embed img {
    float: left;
    margin-right: 1em;
}

.callout[data-callout^="framed"][data-callout-metadata~="pic-r"] .internal-embed img {
    float: right;
    margin-left: 1em;
}

.is-phone .callout[data-callout="framed"]:is([data-callout-metadata~="bg"],
    [data-callout-metadata~="bg"]) {
    margin-right: 1em;
}

.is-phone .callout[data-callout="framed-r"][data-callout-metadata~="bg"] {
    margin-left: 1em;
}

.is-phone .markdown-preview-view :is(.callout[data-callout="framed"], .callout[data-callout="framed-l"]) {
    margin-left: -15px;
}

.is-phone .markdown-preview-view .callout[data-callout="framed-r"] {
    margin-right: -15px;
}

.is-phone .markdown-preview-view .callout[data-callout^="framed"] :is(.internal-embed, img) {
    max-width: 50vw;
}

.mobile-image-viewer {
    backdrop-filter: blur(5px);
}
.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer,
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer  {
    max-width: var(--file-line-width);
    margin-left: auto !important;
    margin-right: auto !important;
}