body {
    --icon-size: 18px;
    --callout-icon-info: lucide-info;
    --nav-item-white-space: pre !important;
}

svg.svg-icon {
    height: var(--icon-size) !important;
    width: var(--icon-size) !important;
    stroke-width: var(--icon-stroke);
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-line {
    max-width: none;
}

.HyperMD-quote {
    overflow: hidden;
}



.markdown-rendered blockquote:has(> ul > li) {
    background-color: transparent;
    border-inline-start: none;
    padding-inline-start: 0;
}

.markdown-rendered blockquote > ul > li p > span > img {
    padding-left: 10%;
    padding-right: 10%;
}


.html-tabs {
    border-color: var(--hr-color);
}
.html-tab-active {
    border-color: hsla(32, 48%, 85%, 1);
    color: hsla(32, 48%, 85%, 1);
}
.html-tab-active:hover {
    border-color: rgb(255, 248, 239);
    color: rgb(255, 248, 239);
}

div.block-language-tabs > div:has(.html-tab-content > div > div[data-callout="multi-column"].callout).html-tabs {
    margin-bottom: 0;
}

div.block-language-tabs > div > .html-tab-content > div > div[data-callout="multi-column"].callout {
    margin-top: 0;
}
div.block-language-tabs > div > .html-tabs > .html-tab > p {
    margin: 0;
}

div[data-callout="multi-column"].callout blockquote > ul > li > [data-heading*="#mcl/list-card"] {
    border-bottom: var(--mcl-card-header-border-width) solid var(--mcl-card-border-color);
    margin-bottom: 0.2em;
}

div[data-callout="multi-column"].callout blockquote ul > li > p > .image-embed.image-embed img:not([width]) {
    max-height: none; 
    max-width: none; 
}


/*================================================================\
|Customize Callouts Floating                                       |
\================================================================*/

/* Add margin-left to right callouts to make space between content and callout */
.markdown-source-view.mod-cm6 .callout:is(div[data-callout-metadata*="right"]) {
    margin-left: 1em;
}

/*================================================================\
|Customize Code Styler                                             |
\================================================================*/

/* Remove Overflow from first Line (for floating Images and Callouts) */
.markdown-source-view.mod-cm6 .HyperMD-codeblock-begin.code-styler-line {
    overflow: hidden;
}
.code-styler-header-container {
    overflow: hidden;
}


/*================================================================\
|Customize Metadata Styling                                        |
\================================================================*/

.multi-select-pill-remove-button {
    cursor: pointer;
    color: #fff;
    padding-right: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-inline-end: 0;
}

/* cssclasses */

div[data-property-key="cssclasses"] > .metadata-property-value > .multi-select-container > .multi-select-pill::before {
    content: '';
    padding: 0.3em;
    width: 14px; 
    height: 14px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="rgb(218, 154, 27)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-wand-2"><path d="m21.64 3.64-1.28-1.28a1.21 1.21 0 0 0-1.72 0L2.36 18.64a1.21 1.21 0 0 0 0 1.72l1.28 1.28a1.2 1.2 0 0 0 1.72 0L21.64 5.36a1.2 1.2 0 0 0 0-1.72Z"></path><path d="m14 7 3 3"></path><path d="M5 6v4"></path><path d="M19 14v4"></path><path d="M10 2v2"></path><path d="M7 8H3"></path><path d="M21 16h-4"></path><path d="M11 3H9"></path></svg>') no-repeat center center;
}
div[data-property-key="cssclasses"] > .metadata-property-value > .multi-select-container > .multi-select-pill {
    color: var(--alternating-color-1);
    background-color: hsl(49, 48%, 21%);
    display: inline-flex;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-radius: 4px;
    font-weight: 500;
    border: 1px solid transparent;
    cursor: default;
}
div[data-property-key="cssclasses"] > .metadata-property-value > .multi-select-container > .multi-select-pill .multi-select-pill-content {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline-start: 2px;
}

/* tags */

div[data-property-key="tags"] > .metadata-property-value > .multi-select-container > .multi-select-pill::before {
    content: '';
    padding: 0.3em;
    width: 14px; 
    height: 14px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="rgb(255,92,187)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-tag"><path d="M12 2H2v10l9.29 9.29c.94.94 2.48.94 3.42 0l6.58-6.58c.94-.94.94-2.48 0-3.42L12 2Z"></path><path d="M7 7h.01"></path></svg>') no-repeat center center;
}
div[data-property-key="tags"] > .metadata-property-value > .multi-select-container > .multi-select-pill {
    color: hsl(325deg 100% 68.14%);
    background-color: var(--color-pink-base);
    display: inline-flex;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-radius: var(--inline-badge-border-radius);
    font-weight: 500;
    border: var(--inline-badge-border);
    cursor: default;
}
div[data-property-key="tags"] > .metadata-property-value > .multi-select-container > .multi-select-pill > .multi-select-pill-content {
    margin-left: 0;
}

/* genre */

div[data-property-key="genre"] > .metadata-property-value > .multi-select-container > .multi-select-pill::before {
    content: '';
    padding: 0.3em;
    width: 14px; 
    height: 14px;
    background: url('data:image/svg+xml;utf8,<svg data-v-56bd7dfc="" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="rgb(91, 197, 239)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-drama"><path d="M10 11h.01"></path><path d="M14 6h.01"></path><path d="M18 6h.01"></path><path d="M6.5 13.1h.01"></path><path d="M22 5c0 9-4 12-6 12s-6-3-6-12c0-2 2-3 6-3s6 1 6 3"></path><path d="M17.4 9.9c-.8.8-2 .8-2.8 0"></path><path d="M10.1 7.1C9 7.2 7.7 7.7 6 8.6c-3.5 2-4.7 3.9-3.7 5.6 4.5 7.8 9.5 8.4 11.2 7.4.9-.5 1.9-2.1 1.9-4.7"></path><path d="M9.1 16.5c.3-1.1 1.4-1.7 2.4-1.4"></path></svg>') no-repeat center center;
}
div[data-property-key="genre"] > .metadata-property-value > .multi-select-container > .multi-select-pill {
    color: #5bc5ef;
    background-color: hsl(201.46deg 48% 21%);
    display: inline-flex;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-radius: var(--inline-badge-border-radius);
    font-weight: 500;
    border: var(--inline-badge-border);
    cursor: default;
}

/* type */

div[data-property-key="type"] > .metadata-property-value > .multi-select-container > .multi-select-pill::before {
    content: '';
    padding: 0.3em;
    width: 14px; 
    height: 14px;
    background: url('data:image/svg+xml;utf8,<svg data-v-56bd7dfc="" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="rgb(91, 239, 101)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dna"><path d="m10 16 1.5 1.5"></path><path d="m14 8-1.5-1.5"></path><path d="M15 2c-1.798 1.998-2.518 3.995-2.807 5.993"></path><path d="m16.5 10.5 1 1"></path><path d="m17 6-2.891-2.891"></path><path d="M2 15c6.667-6 13.333 0 20-6"></path><path d="m20 9 .891.891"></path><path d="M3.109 14.109 4 15"></path><path d="m6.5 12.5 1 1"></path><path d="m7 18 2.891 2.891"></path><path d="M9 22c1.798-1.998 2.518-3.995 2.807-5.993"></path></svg>') no-repeat center center;
}
div[data-property-key="type"] > .metadata-property-value > .multi-select-container > .multi-select-pill {
    color: #5bef65;
    background-color: hsl(123.92deg 58.5% 22.95%);
    display: inline-flex;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-radius: var(--inline-badge-border-radius);
    font-weight: 500;
    border: var(--inline-badge-border);
    cursor: default;
}

div[data-property-key="type"] .multi-select-pill-content {
    cursor: pointer;
}

/* rank */

div[data-property-key="rank"] > .metadata-property-value > .metadata-input-longtext::before {
    content: '';
    padding: 0.3em;
    width: 14px; 
    height: 14px;
    background: url('data:image/svg+xml;utf8,<svg data-v-56bd7dfc="" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="rgb(239, 229, 91)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trophy"><path d="M6 9H4.5a2.5 2.5 0 0 1 0-5H6"></path><path d="M18 9h1.5a2.5 2.5 0 0 0 0-5H18"></path><path d="M4 22h16"></path><path d="M10 14.66V17c0 .55-.47.98-.97 1.21C7.85 18.75 7 20.24 7 22"></path><path d="M14 14.66V17c0 .55.47.98.97 1.21C16.15 18.75 17 20.24 17 22"></path><path d="M18 2H6v7a6 6 0 0 0 12 0V2Z"></path></svg>') no-repeat center center;
}
div[data-property-key="rank"] > .metadata-property-value > .metadata-input-longtext {
    color: #efe55b;
    background-color: hsl(60.23deg 58.5% 22.95%);
    display: inline-flex;
    margin: 0;
    padding: 0;
    margin-right: 92%;
    vertical-align: middle;
    border-radius: var(--inline-badge-border-radius);
    font-weight: 500;
    border: var(--inline-badge-border);
    cursor: default;
    font-size: 16px;
    font-weight: bold;
}
div[data-property-key="rank"] > .metadata-property-value {
    padding: var(--size-4-1) var(--size-4-2);
}





